{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">User account data</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Subject identifier"
            },
            value: {
              text: sub
            }
          },
          {
            key: {
              text: "Email Address"
            },
            value: {
              text: email
            }
          },
          {
            key: {
              text: "Phone Number"
            },
            value: {
              text: phone_number
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "/"
      }) }}

    </div>
  </main>
</div>
{% endblock %}